<!DOCTYPE html>
<html>
<head>
  <title>marty-todo</title>
</head>
<body>
  <div id="app">
    <%- body %>
  </div>
  <script type="text/javascript" src="/javascripts/marty-todo.js"></script>
</body>
</html>